<div class="card host-card">
    <div class="card-header page-header">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <img src="/assets/images/logo.jpg" alt="Peachtree Bank">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">

            </div>
        </div>
    </div>
    <div class="card-body host-card-content">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-12">
                <app-transaction></app-transaction>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-9 col-12">
                <app-transaction-list></app-transaction-list>
            </div>
        </div>
    </div>
</div>