<div class="card transaction ">
    <div class="card-header transaction-header">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <img src="/assets/images/icons/exchange.png" alt="Make a transfer">
            </div>
            <div class="col-md-9 col-lg-9 col-sm-9">
                <span>Make a Transfer</span>
            </div>
        </div>
    </div>
    <div class="card-body host-card-content">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label>FROM ACCOUNT</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input [disabled]="true" style="background-color: #fff;" type="text"
                                    placeholder="{{fromAccount}} - {{fromAccountBalance |currency:'$'}}"
                                    name="fromAccount">
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>TO ACCOUNT</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input placeholder="Beneficiary Account" name="receiver"
                                        formControlName="receiver">
                                    <div *ngIf="submitted && transactionForm.controls['receiver'].errors"
                                        class="invalid-feedback">
                                        <div *ngIf="submitted && transactionForm.controls['receiver'].errors.required">*
                                            TO ACCOUNT is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>AMOUNT</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="number" placeholder="$ 0.00" name="amount" min="1"
                                        formControlName="amount">
                                    <div *ngIf="submitted && transactionForm.controls['amount'].errors"
                                        class="invalid-feedback">
                                        <div *ngIf="submitted && transactionForm.controls['amount'].errors.required">*
                                            AMOUNT is required.</div>
                                        <div *ngIf="submitted && transactionForm.controls['amount'].errors.min">*
                                            AMOUNT should be greater than 0.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-light btn-sbmt">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>