.host-card{
    width: 100%;
    background-color: #fff;
    padding: 0;
    background-image: url(/assets/images/background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    min-height: 99vh;
    margin-top: -40px;
}
.page-header{
    min-height: 60px;
    border-bottom: 2px solid #ee7134 !important;
    border-top: 1px solid #ee7134 !important;
    background-color: #fff;
}
.page-header .row{
    width:100%;
}
.page-header img{
    margin-top: 17px;
    margin-left: 20%;
}
.host-card-content{
    margin-left: 7%;
    margin-right: 7%;
}

.host-card-content .row{
    margin-top:7px;
}
.host-card-content label{
    font-size: 12px;
}
.transaction{
    min-height: 60vh;
    padding: 0;
    background-color: #fff;
    margin-top: 15px;
    min-height: 370px;
}

.transaction-header{
    min-height: 40px;
    background-color: #1e8585;
    padding-left: 15px;
}
.transaction-header .row{
    width:100%;
}
.transaction-header img{
    margin-top: 6px;
    max-width: 25px;
    max-height: 30px;
}

.transaction-header span{
    line-height: 3;
    color: #fff;
}
.transaction-list-group{
    margin-top: 15px;
}
.list-group-item {
    border-width: 1.5px !important;
    border-radius: 0 !important;
    min-height: 60px;
    border-left-width: 5px !important;
}

.crncy-text{
    float: right;
    font-weight: 600;
}

.receiver{
    font-weight: 500;
}
.payment{
    font-size: 12px;
    font-weight: 400;
}
.filter-btn{
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ddd !important;
}
.filter-btn span{
    color: #a9a6a6;
}
.filter-btn-grp{
    float: right;
}
 button{
    outline:none !important;
}

input{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width:0;
    width:100%;
    border-bottom: 1px solid #ddd !important;
}

input:focus {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width:0;
    border-bottom: 1px solid #ddd !important;
    outline:none !important;
}

.btn-sbmt{
    float: right;
    margin-top: 20px;
    width: 170px;
    background-color: #dc8306;
    color: #fff;
}

.invalid-feedback{
    color:red;
    font-size:10px;
}