<div class="card transaction ">
    <div class="card-header transaction-header">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <img src="/assets/images/icons/suitcase.png" alt="Transaction List">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6" style="text-align: -webkit-center;">
                <span>Recent Transactions</span>
            </div>
        </div>
    </div>
    <div class="card-body host-card-content">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="row" style="margin-top: 18px;">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-12">

                        <input placeholder="Search by typing..." name="searchString" [(ngModel)]="searchString">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-12">
                        <span>Sort by</span>
                        <div class="btn-group filter-btn-grp" role="group" aria-label="Basic example">
                            <button type="button" (click)="toggleSort('transactionDate')" class="btn btn-secondary filter-btn">DATE
                                <span *ngIf="sortType && sortField === 'transactionDate'" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span *ngIf="!sortType && sortField === 'transactionDate'" class="glyphicon glyphicon-triangle-top"></span>
                            </button>
                            <button type="button" (click)="toggleSort('merchant')" class="btn btn-secondary filter-btn">BENEFICIARY
                                <span *ngIf="sortType && sortField === 'merchant'" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span *ngIf="!sortType  && sortField === 'merchant'" class="glyphicon glyphicon-triangle-top"></span>
                            </button>
                            <button type="button" (click)="toggleSort('amount')" class="btn btn-secondary filter-btn">AMOUNT
                                <span *ngIf="sortType  && sortField === 'amount'" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span *ngIf="!sortType  && sortField === 'amount'" class="glyphicon glyphicon-triangle-top"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row transaction-list-group">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let transaction of transactionsList| searchPipe:searchString"
                                [ngStyle]="{'border-left-color':transaction.categoryCode }">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2 col-xs-2">
                                        {{transaction.transactionDate | date :'MMM yy'}}
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xs-2">
                                        <img height="30" width="30" [src]="domSanitizer.bypassSecurityTrustResourceUrl(transaction.merchantLogo)">
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="receiver">{{transaction.merchant}} </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="payment">{{transaction.transactionType}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xs-2">
                                        <span class="crncy-text">-{{transaction.amount |currency:'$'}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>